.genn-Categoryes-link {
    color: #000;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.overLay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
}

.genn-Categoryes-title {
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 500;
    line-height: 53.32px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    margin-bottom: 36px;
}

ul.genn-Categoryes-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 38px;
}

.genn-Categoryes-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.genn-Categoryes-image {
    width: 49%;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

button.genn-Categoryes-image-button {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    color: #000;
    text-align: center;
    font-family: "Tamil MN";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 19.5px;
    opacity: 0.77;
    background: #EEECEA;
    display: flex;
    width: 105px;
    height: 39px;
    padding: 11px 21px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (min-width: 1440px) {

}

@media (min-width: 1200px) and (max-width: 1440px) {

}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 414px) and (max-width: 768px) {

}

@media (min-width: 375px) and (max-width: 414px) {

}

@media (min-width: 360px) and (max-width: 375px) {

}