.genn-SliderBaner-text-title{
    color: var(--body-text-color);
    opacity: 0.85;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 21px;
}
.genn-SliderBaner-text-des{
    color: var(--body-text-color);
    opacity: 0.5;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 203px;
}

@media (min-width: 1440px) {

}

@media (min-width: 1200px) and (max-width: 1440px) {

}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 414px) and (max-width: 768px) {

}

@media (min-width: 375px) and (max-width: 414px) {

}

@media (min-width: 360px) and (max-width: 375px) {

}