.genn-Header-2-block-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}
.genn-Header-2-block-menu:hover {
 color: var(--header-text-2-hover);
}
.genn-Header-2-block {
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 13px;
    padding: 23px 0;
}
.genn-Header-1 {
    justify-content: space-between;
    padding: 15px 55px;
    align-items: center;
}

.genn-Header-1-container {
    gap: 150px;
    align-items: center;
    font-size: 12px;
}

.genn-Header-menu {
    gap: 30px;
    cursor: pointer;
}
.genn-Header-menu li{
    
    cursor: pointer;
}
.genn-Header-menu li:hover{
    
    color: var(--header-text-1-hover);
}

.genn-Header-1-Button button{
    background: var(--header-bg-button);
    padding: 7px 18px;
    border-radius: 50px;
    color: var(--header-text-button);
    font-size: 12px;
}



.genn-Header-1 {   
    background-color: var(--header-bg-1);
  }
  
@media (min-width: 1440px) {

}

@media (min-width: 1200px) and (max-width: 1440px) {

}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 414px) and (max-width: 768px) {
    .genn-Header-menu {
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 414px) {
    .genn-Header-menu {
        display: none;
    }
}

@media (min-width: 360px) and (max-width: 375px) {
    .genn-Header-menu {
        display: none;
    }
}