.genn-Baner-button-container {
    position: absolute;
    gap: 15px;
    bottom: 71px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.genn-Baner-video video{
 width: 100%;
}
.genn-Baner-button1  {
    background: var(--button-1-bg);
    padding: 11px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19.5px;
    color: var(--button-1-text);
    font-size: 12px;
    
}
.genn-Baner-button2 {
    background: var(--button-2-bg);
    padding: 11px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19.5px;
    color: var(--button-2-text);
    font-size: 12px;
    
}

@media (min-width: 1440px) {

}

@media (min-width: 1200px) and (max-width: 1440px) {

}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 414px) and (max-width: 768px) {

}

@media (min-width: 375px) and (max-width: 414px) {

}

@media (min-width: 360px) and (max-width: 375px) {

}